.s{
    width: 30%;
    height: 30vh;
    margin: 20px 10px;
    border: 2px solid rgb(243,242,242);
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}
.s-browser{
    height: 20px;
    background-color: rgb(243,242,242);
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.s-circle{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
}
.s-img{
    width: 100%;
    transition: all 2s ease;
}

.s:hover .s-img{
    transform: perspective(
              200px) translateZ(100px);
}

@media screen and (max-width: 480px){
    .s{
        width: 40%;
        height: 15vh;
    }
}

/* @media screen and (max-width: 768px){
    .s{
       margin-top: 50px;
    }
}

@media screen and (max-width: 1200px){
    .s{
       
    }
} */